<html>
    <head>
        <title><%- title %></title>
        <meta property="og:image" content="<%= ogImage %>">
        <meta property="keywords" content="<%= keywords %>">
    </head>
    <body>
        <h1><%- title %></h1>
    </body>
</html>