<html>
    <head>
        <title><%= title %></title>
        <meta property="og:image" content="<%= ogImage %>">
        <meta property="keywords" content="<%= keywords %>">
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </body>
</html>