<%- include('./templates/header'); %>
    <h1>Articles</h1>
    <ul>
        <% for (var key in articles) { %>
            <% if (articles.hasOwnProperty(key)) { %>
                <li><%= articles[key].title %></li>
            <% } %>
        <% } %>
    </ul>
<%- include('./templates/footer'); %>